* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* ------------------ HEADER ------------------ */

.nav-wrapper {
  height: 8vh;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo-lotus {
  height: 6em;
  margin: 1em 1.25em;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo-container {
  background-color: black;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  margin-left: -4.5em;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(359deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(359deg);
    }
}

/* ------------------ MAIN ------------------ */

.splash-hero {
  background-image: url('../assets/ngc-hubble.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 92vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #386797;
  /*background-color: rgba(56, 103, 151, 0.6);*/
  /*background-color: rgba(241, 20, 3, 0.3);*/
  background-color: rgba(0, 0, 0, 0.7);
  /*border: 1px solid red;*/
  padding: 2.5em;
  margin-top: -2em;
}

.splash-header h1 {
  font-size: 4em;
  /*margin-top: -2em;*/
  /*margin-bottom: .5em;*/
  text-align: center;

}

.splash-header h2 {
  font-size: 2em;
}

.about-content {
  /*height: 50vh;*/
  background-color: black;
  display: flex;
  /*align-items: center;*/
  font-size: 1.25em;
  color: #386797; /* ----- Blue from logo ----- */
  font-size: 1.25em;
}

.logo-container-2 {
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  /*border: 1px solid red;*/
}

.about-1 {
  padding: 1.5em;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-2 {
  padding: 1.5em;
  width: 40%;
}

.about-3 {
  padding: 1.5em;
  width: 40%;
}

/*.one, .two, .three {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/



.splash-hero-2 {
  background-image: url('../assets/nebula.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 90vh;

  display: flex;
  flex-direction: column;
}

.section-2 {
  order: 2;
}

/* ------------------ FOOTER ------------------ */

footer {
  margin: 0;
  height: 8vh;
  text-align: center;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------ MEDIA QUERIES ------------------ */

@media (max-width: 900px) {

  .about-content {
    flex-direction: column;
  }

  .about-1, .about-2, .about-3 {
    width: 100%;
  }
}
